.image-container {
  width: 450px;
  height: 450px;
  background: pink;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.image-placeholder {
  width: 450px;
  height: 450px;
  background-color: tomato;
  border-radius: 1rem;
}
